:root {
    --white: hsl(212, 45%, 89%);
    --gray: hsl(216, 15%, 48%);
    --black: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    background-color: var(--white);
    font-family: "Outfit", sans-serif;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.white-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    max-height: 400px;
    background-color: #ffffff;
    border-radius: 15px;
}

.qr-code {
    width: 230px;
    height: 230px;
    border-radius: 15px;
    margin-top: 10px;
}

h2 {
    color: var(--black);
    text-align: center;
    font-weight: 700;
    padding: 10px 15px 0 10px;
}

h3 {
    font-size: 14px;
    color: var(--gray);
    text-align: center;
    padding: 10px 20px 25px 20px;
    font-weight: 400;
}
