:root {
    --white: hsl(212, 45%, 89%);
    --gray: hsl(216, 15%, 48%);
    --black: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: "Outfit", sans-serif;
    font-size: 12px;
}

.white-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 500px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 250px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}

.qr-code {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-top: 10px;
}

h2 {
    font-size: 20px;
    color: var(--black);
    text-align: center;
    font-weight: 700;
    padding: 20px 45px 0 45px;
}

h3 {
    font-size: 18px;
    color: var(--gray);
    text-align: center;
    padding: 15px 20px 25px 20px;
    font-weight: 400;
}


